<div class="row">
  <div class="col-12 col-sm-12">
    <a href="{{ site.url }}{{ site.baseurl }}/">AI Chip Deadlines</a>
    is a fork of a <a href="https://github.com/paperswithcode/ai-deadlines">repository</a> by
    <a href="https://twitter.com/abhshkdz">abhshkdz</a>. It is now run and maintained by
    <a href="https://castlab.kaist.ac.kr/" style="font-weight: bold; color: #147df5;">CastLab</a> at KAIST and by <a
      href="https://github.com/Chen1Yi1" style="font-weight: bold; color: #147df5;">Yi Chen</a>.<br>
  </div>
</div>
